*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background:black;
}
.container{
    position:absolute;
    border:5px solid white;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
#canvas1{
    border:5px solid white;
}
