#infoElement{
  position:absolute;
  z-index:1;
  width:30%;
  height:50vh;
  top:0;
  overflow-x:hidden;
  overflow-y:auto;
  right:0;
  background:rgba(255,255,255,0.5);
  display:none
}


.element{
  display:none;
}

#menuPano{
  overflow:hidden;
  position:absolute;
  left:0px;
  top:20px;
  z-index:1;
  background:rgba(255, 255, 255, 0.5);
  height:450px;
  width:300px;
  display:none;

}


 

#menuVisite{
  overflow:auto;
  overflow:scroll;
  overflow-y: hidden;
  white-space:nowrap; 
  position:absolute;
  width:100%;
  left:0px;
  bottom:0;
  z-index:1;
  background:rgba(255, 255, 255, 0.5);
}



  
#menuVisite img {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    width:200px;
    cursor: pointer;
  }
  
  #menuVisite img:hover {
    background-color: #777;
    cursor: pointer;
   
  }



  .container {
    position: relative;
    display:inline-block;
    cursor: pointer;
    
  }
  
 
  
  .overlay {
    position: absolute;
    top: 0;
   bottom:0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:rgba(255,130,51,0.6);
    cursor: pointer;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }