*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

#canvas1{
    background:black;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%)
    

}
#controls{
    position:absolute;
    padding:10px;
    border:3px dotted white;
    left:10px;
    top:10px;
    color:white;
}